.maincontainer{
    margin-top: 5rem;
}
.container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    margin-right: 4rem;
}
.head{
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}
.btn{
    font-size: 1.4rem;
    margin-top: 7rem;
    margin-left: -11rem;
  cursor: pointer;
   background-color: greenyellow;
}
.name{
    font-size: 1.8rem;
    font-weight: 600;
    
}